@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up - Code College</title>
</head>
<body>
    <div>
        This section, Sign Up, is under construction. Please, go to <a href="/Login">Login</a> instead.
    </div>
</body>
</html>