@using System.Web.Optimization;
@using System.Data.Entity;
@using Code_College.Models;

@{
    private ExDBEntities ExDB = new ExDBEntities();

    Styles.Render();
    Scripts.Render();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
    </div>
</body>
</html>
