@using Code_College.Controllers;
@using Code_College.Models;
@using System.Web.Optimization;

@{
    LoginController LoginCon = new LoginController();
    ExDBEntities ExDB = new ExDBEntities();
    UserDBEntities UserDB = new UserDBEntities();
    User User;

    if (Request.Cookies.AllKeys.Contains("CCUserAuth"))
    {
        HttpCookie Cookie = Request.Cookies["CCUserAuth"];

        if (!Account.VerifyCookie(Cookie))
        {
            LoginCon.Index();
        }
        else
        {
            string Username = Cookie.Values["Username"];
            string Password = Cookie.Values["Password"];

            ViewBag.Username = Username;
            ViewBag.Password = Password;

            User = UserDB.Users.Where(x => x.Username == Username).FirstOrDefault();

            foreach (Exercise Exercise in ExDB.Exercises)
            {
                if (Exercise.ExID >= User.UserLevel)
                {
                    DashboardController.ExerciseTiles.Add(new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = false });
                }
                else if (Exercise.ExID < User.UserLevel)
                {
                    DashboardController.ExerciseTiles.Add(new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = true });
                }
                else
                {
                    DashboardController.ExerciseTiles.Add(new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = false });
                }
            }
        }
    }
    else
    {
        LoginCon.Index();
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Code College, Dashboard, Learn Programming, Learn Lua, Lua, Development, Code" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <title>Dash - Code College</title>

    @*@Styles.Render("~/bundles/css")*@
    @Scripts.Render("~/bundles/js")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div>
        This section, Dashboard, is under construction. Please, go to another section instead.
        <ul>
            <li><a href="~/Login">Login</a></li>
            <li><a href="~/SignUp">Sign Up</a></li>
            <li><a href="~/Exercise">Exercise</a></li>
            <li><a href="~/AddExercise">Add Exercise (Admin Only)</a></li>
        </ul>
    </div>
</body>
</html>