@using Code_College.Controllers;
@using Code_College.Models;
@using System.Web.Optimization;

@{
    bool Redirect = false;
    int Index = 0;
    ExerciseController ExerCon = new ExerciseController();
    ExDBEntities ExDB = new ExDBEntities();
    UserDBEntities UserDB = new UserDBEntities();
    User User;

    if (Request.Cookies.AllKeys.Contains("CCUserAuth"))
    {
        HttpCookie Cookie = Request.Cookies["CCUserAuth"];

        if (!Account.VerifyCookie(Cookie))
        {
            Redirect = true;
        }
        else
        {
            string Username = Cookie.Values["Username"];
            string Password = Cookie.Values["Password"];

            ViewBag.Username = Username;
            ViewBag.Password = Password;

            User = UserDB.Users.Where(x => x.Username == Username).FirstOrDefault();

            foreach (Exercise Exercise in ExDB.Exercises)
            {
                if (Exercise.ExID >= User.UserLevel)
                {
                    DashboardController.ExerciseTiles[Index] = new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = false, Locked = false };
                }
                else if (Exercise.ExID < User.UserLevel)
                {
                    DashboardController.ExerciseTiles[Index] = new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = true, Locked = false };
                }
                else if (Exercise.ExID > User.UserLevel)
                {
                    DashboardController.ExerciseTiles[Index] = new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = false, Locked = true };
                }
                else
                {
                    DashboardController.ExerciseTiles[Index] = new DashboardController.ExTile { ExID = Exercise.ExID, ExTitle = Exercise.ExTitle, CompletedByUser = false, Locked = true };
                }

                Index++;
            }
        }
    }
    else
    {
        Redirect = true;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Code College, Dashboard, Learn Programming, Learn Lua, Lua, Development, Code" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <title>Dash - Code College</title>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")

    <script type="text/javascript">
        var Redirect = "@Redirect";

        if (Redirect === "True") {
            window.location = "@Url.Action("Index", "Login")";
        }

        var Exercise = new Object();

        Exercise.ID = 1;
        Exercise.Title = "Printing";
    </script>
</head>
<body>
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Dashboard">Code College</a>
        </div>
    </nav>

    <div id="page-wrapper">
        <div id="Exercises">
            <div class="row">
                <div class="col-md-4 grid_box1">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="copy_layout">
            <p>Copyright © 2015 Code College. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
        </div>
    </div>
</body>
</html>