@{
    Layout = null;
    ViewBag.Title = "Dash - Code College";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        This section, Dashboard, is under construction. Please, go to <a href="/Login">Login</a> instead.
    </div>
</body>
</html>